

.tableOver {
    // background-color: lightblue;
    border: 1px solid rgba(54, 55, 55, 0.637);
    // color: whitesmoke;
    background-color: rgb(255, 255, 255);

    height: 100%;
    width: 100%;
    overflow-x: scroll;
    }

    // .table {
    //     width: 100%;
    //     margin: 10px;
    //     }


    // .table-bordered{
    //     border:solid 1px black;
    // }