.inside-form{
    margin: 10%;
    padding: 10%;
    // background-color: rgb(41, 40, 40);
    // color: whitesmoke;
    // border-radius: -13px;
    border: solid 1px black;

}
.form-control,.form-check-input,.form-select{

    // border: solid 0.5px ;
}