<br>

<div class="container">
    <h1>Most Hobbis </h1>
    <div class="row">
        <div class="text-center" >

        </div>
        <div class="Card">
            <div class="card-body">
                <!-- <video src="/assets/images/videoo back.MOV" autoplay loop muted alt=""></video> -->


                <!-- <video id="background-video" autoplay loop muted poster="/portfolio/src/assets/images/videoo back.MOV">
                    <source src="/assets/images/videoo back.MOV" type="video/MOV" width="600">
                    </video> -->
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">

            <div class="card">
                <img class="" src="/assets/images/2022_11_13_12_44_IMG_0591.JPG" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Kothagiri hils</h4>
                    <p class="card-text">Profile ubgrade</p>
                </div>
            </div>
        </div>
            
        <div class="col-lg-6 col-md-6 col-sm-12">  
            <div class="card">
                <img class="" src="/assets/images/2022_11_13_12_45_IMG_0595.JPG" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Bikers offical club</h4>
                    <p class="card-text">Explore world</p>
                </div>
            </div>
        </div>
        
    </div> 
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">

            <div class="card">
                <img class="" src="/assets/images/20221016_155635.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Just Travaling</h4>
                    <p class="card-text">All is out mind </p>
                </div>
            </div>
        </div>
            
        <div class="col-lg-6 col-md-6 col-sm-12">  
            <div class="card">
                <img class="" src="/assets/images/20221016_155301.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">I Think Valparai it cool</h4>
                    <p class="card-text">Nature love </p>
                </div>
            </div>
        </div>
        
    </div> 
    <div class="row">
        <div class="col">
            <img src="/assets/images/valparai viwo.jpg" width="100%" alt="">

        </div>

    </div>
  

</div>

