<br>
<div class="container">
  <!-- row 1---------------------------------------------------col 1 ---- -->
  <div class="row">
    <div class="col">
      <h2 style=" text-transform: uppercase;
            transition: 0.5s;
            letter-spacing: 2px; "> <i class="bi bi-mortarboard-fill icon"></i> Education : </h2>

    </div>
  </div>

  <br>

  <!-- row 2 ----------------------col 1 -->

  <div class="row">

    <div class="col-lg-4 col-sm-12 col-md-6 AllColoum">

      <div class="card">
        <div class="card-body">
          <i class="bi bi-book icon"></i>
          <h3 class="card-title">SSLC</h3>

          <div class="row">
            <div class="col" style="text-align: left;">

              <p>
                <b><i class="bi bi-award-fill Insideicon"></i> Institution: </b> St. Jhon's High School,Kovilur <br>

                <b> <i class="bi bi-geo-alt-fill Insideicon"></i> Location:</b> Dharmapuri <br>

                <b><i class="bi bi-hourglass-top Insideicon"></i> Duration:</b> 2013-2015 <br>

                <b><i class="bi bi-journal-bookmark-fill Insideicon"></i> percentage:</b> 88% <br>

              </p>

            </div>

          </div>




        </div>
      </div>

    </div>

    <!-- row 2 --------------------------------------------------col 2  -->
    <div class="col-lg-4 col-sm-12 col-md-6 AllColoum ">

      <div class="card ">
        <div class="card-body">
          <i class="bi bi-book icon"></i>
          <h3 class="card-title">HSC</h3>

          <div class="row">
            <div class="col" style="text-align: left;">

              <p>
                <b><i class="bi bi-award-fill Insideicon"></i> Institution: </b> Don Bosco Matric Hr.Sec.School
                <br>

                <b> <i class="bi bi-geo-alt-fill Insideicon"></i> Location:</b> Dharmapuri <br>

                <b><i class="bi bi-hourglass-top Insideicon"></i> Duration:</b> 2015-2017 <br>

                <b><i class="bi bi-journal-bookmark-fill Insideicon"></i> percentage:</b> 72%% <br>

              </p>

            </div>

          </div>
        </div>
      </div>

    </div>
    <!-- row 2----------------------------------------------------------------col 3  -->
    <div class="col-lg-4 col-sm-12 col-md-6 AllColoum">
      <div class="card">
        <div class="card-body">
          <i class="bi bi-book icon"></i>
          <h3 class="card-title">UG</h3>

          <div class="row">
            <div class="col" style="text-align: left;">

              <p>
                <b><i class="bi bi-award-fill Insideicon"></i> Institution: </b>Don Bosco Arts and Science College <br>

                <b><i class="bi bi-trophy-fill Insideicon"></i> Degree: </b>B.Sc. Computer Science <br>


                <b> <i class="bi bi-geo-alt-fill Insideicon"></i> Location:</b> Dharmapuri <br>

                <b><i class="bi bi-hourglass-top Insideicon"></i> Duration:</b> 2017-2020 <br>

                <b><i class="bi bi-journal-bookmark-fill Insideicon"></i> percentage:</b> 79% <br>

              </p>

            </div>

          </div>




        </div>
      </div>

    </div>

  </div>

  <!-- row 3---------------------------          col 1 -------------------------- -->
  <!-- <br> -->
  <div class="row">

    <div class="col-lg-4 col-sm-12 col-md-6 AllColoum">
      <div class="card">
        <div class="card-body">
          <i class="bi bi-book icon"></i>
          <h3 class="card-title">PG</h3>

          <div class="row">
            <div class="col" style="text-align: left;">

              <p>
                <b><i class="bi bi-award-fill Insideicon"></i> Institution: </b>Karpagam Academy of Higher Education
                <br>

                <b><i class="bi bi-trophy-fill Insideicon"></i> Degree: </b>M.Sc. Computer Science <br>


                <b> <i class="bi bi-geo-alt-fill Insideicon"></i> Location:</b> Coimbatore <br>

                <b><i class="bi bi-hourglass-top Insideicon"></i> Duration:</b> 2020-2022 <br>

                <b><i class="bi bi-journal-bookmark-fill Insideicon"></i> percentage:</b> 89% <br>

              </p>

            </div>

          </div>




        </div>
      </div>

    </div>
  </div>
  <br>
  <!-- Skils -->
  <!-- row 1 this is skil spot -->


  <div class="row">
    <div class="col">
      <h2 style=" text-transform: uppercase;
          transition: 0.5s;
          letter-spacing: 2px; "> <i class="bi bi-unity icon"></i> Skills : </h2>

    </div>
  </div>
  <br>
  <!-- row 2             col 1 ------------------------------  -->

 