
// @media only screen and (min-width:769px)
// {
// }


  .card:hover{
    cursor: pointer;

}
h2:hover{
  transform: translate3d(0, -10px, 22px);
  color: #02f2ff;
  // cursor:pointer;
  cursor: pointer;
}

.card{
    background-color: rgba(87, 89, 123, 0.447);
    text-align: center;
    margin: 2px;
    height: 100%;
    border-radius: 13px;
    // margin-bottom: 10px;
    transition-duration: 0.5s;
    // padding-bottom: 10px;
    
  }
  
  .card:hover{
    border: solid 2px aqua;
  
      // box-shadow: 10px 10px rgb(4, 188, 249);
    box-shadow: 0 4px 8px 0 rgba(93, 194, 238, 0.541), 0 6px 20px 0 rgba(40, 188, 229, 0.531);
    text-align: center;
    // margin: 2%;
    // padding: 2%;
    // zoom: 150%;

    font-size: larger;
    // transition: ;
    transition-duration: 0.5s;
    // transform-style: preserve-3d;
    // transition-delay: 1s;

    transform: translate3d(0, -10px, 22px);
    // color: #ff0266;
  
  }
  // .card:after{
  //   transition-duration: 0.5s;
  // }
  button{
    background-color:transparent;
    border: aqua solid 1px;
    
    color: rgb(9, 241, 241); 
    box-shadow: 1000%;
    // padding: 1%;
    margin: 10%;
    
  }
  button:hover{
  
    background-color: aqua;
    color: black;
  }
  .icon{

    color: aqua;
    text-align: center;
    font-size: 200%;
  }
  .Insideicon{
    color: aqua;
    text-align: center;
    // font-size: 200%;
  }
  .AllColoum{
    padding: 5px;

  }
  .progress{
    height: 40px;
    // background-color: aqua;
  }
  .progress-bar{
    background-color: aqua;
  }
  .progress-bar-animated{
  // background-color: rgba(0, 30, 255, 0.435);
  }
  .progress-bar-striped{
    // background-color:blue;
  }
  .bg-success{
    background-color: aqua;
    color:red ;
  }
.progres{
  width: 100%;
  height:70px;
  // border-radius: 0px;
}

// Skill progress bar---------------------
.Skill-Titile{

}


// ----------button effect
.edu{
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  // transition: 0.5s;
  // transition-duration: 10s;
  // transition-delay: 10s;
  border-radius: 13px;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
 
}
// a:hover{
//   background: #03e9f4;
//   color: #050801;
//   box-shadow: 0 0 5px #03e9f4,
//               0 0 25px #03e9f4,
//               0 0 50px #03e9f4,
//               0 0 200px #03e9f4;
//    -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
// }
.edu:nth-child(1){
  // filter: hue-rotate(40deg);
}
.edu:nth-child(2){
  filter: hue-rotate(110deg);
}
.edu span{
  position: absolute;
  display: block;
}
// .edu span:nth-child(1){
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 2px;
//   background: linear-gradient(90deg,transparent,#03e9f4);
//   animation: animate1 1s linear infinite;
// }
// @keyframes animate1{
//   0%{
//       left: 100%;
//   }
//   50%,100%{
//       left: -100%;
//   }
// }
// .edu span:nth-child(2){
//   top: -100%;
//   right: 0;
//   width: 2px;
//   height: 100%;
//   background: linear-gradient(180deg,transparent,#03e9f4);
//   animation: animate2 1s linear infinite;
//   animation-delay: 0.25s;
// }
@keyframes animate2{
  0%{
      top: 100%;
  }
  50%,100%{
      top: -100%;
  }
}
.edu span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: 100%;
  }
  50%,100%{
      right: -100%;
  }
}
a{
  text-decoration: none;
  color: aqua;
}
a:hover{
  text-decoration: none;
  color: aqua;
  transition-duration: 1s;
  font-size: large;
  
  // transform: translate3d(0, -10px, 22px);
  // border-bottom: solid 1px aqua;

}
.Skill-icon{
  color: aqua;

}
.navi{
  
}
.cardDummy{
  margin-top: 10%;
  align-items: center;
  text-align: justify;
  background-color: rgba(0, 255, 255, 0.171);
  padding: 3%;
  border-radius: 13px;
  border: #02f2ff solid 1px;
}
.footerEnd{
  margin-top: 10%;
}

// .edu span:nth-child(4){
//   bottom: -100%;
//   left: 0;
//   width: 2px;
//   height: 100%;
//   background: linear-gradient(360deg,transparent,#03e9f4);
//   animation: animate4 1s linear infinite;
//   animation-delay: 0.75s;
// }
// @keyframes animate4{
//   0%{
//       bottom: -100%;
//   }
//   50%,100%{
//       bottom: 100%;
//   }
// }
// mobile-------------------------------------------------------------

 