<br>
<div class="container">
  <!-- row 1---------------------------------------------------col 1 ---- -->
  <div class="row">
    <div class="col">

      <div class="edu" href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        <h2 style=" text-transform: uppercase;
            transition: 0.5s;
            letter-spacing: 2px; "> <i class="bi bi-mortarboard-fill icon"></i> Education : </h2>
      </div>


    </div>
  </div>

  <br>

  <!-- row 2 ----------------------col 1 -->

  <div class="row">

    <div class="col-lg-4 col-sm-12 col-md-6 AllColoum">

      <div class="card">
        <div class="card-body">
          <i class="bi bi-book icon"></i>
          <h3 class="card-title">SSLC</h3>

          <div class="row">
            <div class="col" style="text-align: left;">

              <p>
                <b><i class="bi bi-award-fill Insideicon"></i> Institution: </b> St. Jhon's High School,Kovilur <br>

                <b> <i class="bi bi-geo-alt-fill Insideicon"></i> Location:</b> Dharmapuri <br>

                <b><i class="bi bi-hourglass-top Insideicon"></i> Duration:</b> 2013-2015 <br>

                <b><i class="bi bi-journal-bookmark-fill Insideicon"></i> percentage:</b> 88% <br>

              </p>

            </div>

          </div>




        </div>
      </div>

    </div>

    <!-- row 2 --------------------------------------------------col 2  -->
    <div class="col-lg-4 col-sm-12 col-md-6 AllColoum ">

      <div class="card ">
        <div class="card-body">
          <i class="bi bi-book icon"></i>
          <h3 class="card-title">HSC</h3>

          <div class="row">
            <div class="col" style="text-align: left;">

              <p>
                <b><i class="bi bi-award-fill Insideicon"></i> Institution: </b> Don Bosco Matric Hr.Sec.School
                <br>

                <b> <i class="bi bi-geo-alt-fill Insideicon"></i> Location:</b> Dharmapuri <br>

                <b><i class="bi bi-hourglass-top Insideicon"></i> Duration:</b> 2015-2017 <br>

                <b><i class="bi bi-journal-bookmark-fill Insideicon"></i> percentage:</b> 72% <br>

              </p>

            </div>

          </div>
        </div>
      </div>

    </div>
    <!-- row 2----------------------------------------------------------------col 3  -->
    <div class="col-lg-4 col-sm-12 col-md-6 AllColoum">
      <div class="card">
        <div class="card-body">
          <i class="bi bi-book icon"></i>
          <h3 class="card-title">UG</h3>

          <div class="row">
            <div class="col" style="text-align: left;">

              <p>
                <b><i class="bi bi-award-fill Insideicon"></i> Institution: </b>Don Bosco Arts and Science College <br>

                <b><i class="bi bi-trophy-fill Insideicon"></i> Degree: </b>B.Sc. Computer Science <br>


                <b> <i class="bi bi-geo-alt-fill Insideicon"></i> Location:</b> Dharmapuri <br>

                <b><i class="bi bi-hourglass-top Insideicon"></i> Duration:</b> 2017-2020 <br>

                <b><i class="bi bi-journal-bookmark-fill Insideicon"></i> percentage:</b> 79% <br>

              </p>

            </div>

          </div>




        </div>
      </div>

    </div>



    <!-- row 2 ---------------------------          col last -------------------------- -->

    <div class="col-lg-4 col-sm-12 col-md-6 AllColoum">
      <div class="card">
        <div class="card-body">
          <i class="bi bi-book icon"></i>
          <h3 class="card-title">PG</h3>

          <div class="row">
            <div class="col" style="text-align: left;">

              <p>
                <b><i class="bi bi-award-fill Insideicon"></i> Institution: </b>Karpagam Academy of Higher Education
                <br>

                <b><i class="bi bi-trophy-fill Insideicon"></i> Degree: </b>M.Sc. Computer Science <br>


                <b> <i class="bi bi-geo-alt-fill Insideicon"></i> Location:</b> Coimbatore <br>

                <b><i class="bi bi-hourglass-top Insideicon"></i> Duration:</b> 2020-2022 <br>

                <b><i class="bi bi-journal-bookmark-fill Insideicon"></i> percentage:</b> 89% <br>

              </p>

            </div>

          </div>




        </div>
      </div>

    </div>
  </div>
  <br>



  <!-- Skils -->
  <!-- row 1 this is skil spot -->


  <div class="row">
    <div class="col">
      <h2 style=" text-transform: uppercase;
          transition: 0.5s;
          letter-spacing: 2px; "> <i class="bi bi-unity icon"></i> Skills : </h2>


    </div>
  </div>
  <br>
  <!-- Row 2 Skils -->
  <div class="row "> <!--New Row begin Skils-->


    <div class="col-lg-8 col-md-8 col-sm-12">

      <div class="card text-right">
        <div class="card-body">
          <h3 class="card-title text-center"> <i class="bi bi-tools Skill-icon"></i> Technical skills</h3>
          <br>

          <div class="row">
            <div class="col-3">
              <img src="assets/skill_logo/icons8-html-5-48.png" alt="">
              <h5 for="" class="Skill-Titile"> Html</h5>

            </div>
            <div class="col">
              <div class="progress">

                <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
                  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 99%"> <h5>99%</h5></div>
              </div>

            </div>

          </div>
          <!-- <br>------------------------------------- -->
          <br>
          <div class="row">
            <div class="col-3">
              <img src="assets/skill_logo/icons8-css3-48.png" alt="">

              <h5 for="" class="Skill-Titile">Css</h5>

            </div>
            <div class="col">
              <div class="progress">

                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar"
                  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%"><h5>90%</h5></div>
              </div>

            </div>

          </div>
          <br>
          <!-- ====== -->
          <div class="row">
            <div class="col-3">
              <img src="assets/skill_logo/bootstrap-logo-shadow.png" width="50" alt="">
              <h5 for="" class="Skill-Titile">Bootstrap</h5>

            </div>
            <div class="col">
              <div class="progress">

                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar"
                  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 85%"> <h5>85%</h5></div>
              </div>

            </div>

          </div>
          <!-- -------------- -->
          <br>

          <div class="row">
            <div class="col-3">
              <img src="/assets/skill_logo/angular.png" width="50" alt="">
              <h5 for="" class="Skill-Titile">Angular</h5>

            </div>
            <div class="col">
              <div class="progress">

                <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar"
                  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 87%"><h5>87%</h5></div>
              </div>
              <br>
              <div class="down text-start">

                <h6><i class="bi bi-caret-right-fill Skill-icon"></i> Angular Forms Creation With Validation</h6>
                <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/form" class="Sub-Title"><i
                      class="bi bi-arrow-return-right"></i> Template-driven forms (Click Me)</a></h6>
                <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/rforms"><i
                      class="bi bi-arrow-return-right"></i> Reactive forms (Click Me)</a></h6>
                <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/login"><i
                      class="bi bi-arrow-return-right"></i> Login form (Click Me)</a></h6>

                <h6><i class="bi bi-caret-right-fill Skill-icon"></i> API</h6>
                <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/insertgym"><i
                      class="bi bi-arrow-return-right"></i> Post Method Data Insertion (Click Me)</a></h6>
                <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/viewgym"><i
                      class="bi bi-arrow-return-right"></i> Get Method (Click Me)</a></h6>

                <!-- <h6><i class="bi bi-caret-right-fill Skill-icon"></i> Forms Creation</h6>  -->




              </div>

            </div>
            <!-- <br>----------------------------1 -->
            <br>

            <div class="row">
              <div class="col-3">
                <img src="assets/skill_logo/ts-logo-128.png" width="40" alt="">
                <h5 for="" class="Skill-Titile ">Typescript</h5>

              </div>
              <div class="col">
                <div class="progress">

                  <div class="progress-bar  bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"><h5>80%</h5></div>

                </div>
                <br>
                <div class="down text-start">

                  <h6><i class="bi bi-caret-right-fill Skill-icon"></i> EX: Calculator</h6>

                  <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/Rcalculator" class="Sub-Title"><i
                        class="bi bi-arrow-return-right"></i>Basic Calculator (Click Me)</a></h6>
                  <!-- <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/rforms"><i class="bi bi-arrow-return-right"></i> Reactive forms (Click Me)</a></h6> 
                  <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/login"><i class="bi bi-arrow-return-right"></i> Login form (Click Me)</a></h6>  -->

                  <!-- <h6><i class="bi bi-caret-right-fill Skill-icon" ></i> API</h6> 
                  <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/login"><i class="bi bi-arrow-return-right"></i> Post Method Data Insertion (Click Me)</a></h6> 
                  <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/login"><i class="bi bi-arrow-return-right"></i> Get Method (Click Me)</a></h6> 
   -->
                  <!-- <h6><i class="bi bi-caret-right-fill Skill-icon"></i> Forms Creation</h6>  -->




                </div>

              </div>

            </div>
            <!-- ------------------------------------------------------ -->
            <div class="row">
              <div class="col-3">
                <img src="assets/skill_logo/Amazon_Web_Services-Logo.wine.png" width="60" alt="">

                <h5 for="" class="Skill-Titile ">AWS</h5>

              </div>
              <div class="col">
                <div class="progress">

                  <div class="progress-bar  bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%"><h5>80%</h5></div>

                </div>
                <br>
                <div class="down text-start">

                  <h6><i class="bi bi-caret-right-fill Skill-icon"></i>AWS Account Creation</h6>
                  <h6><i class="bi bi-caret-right-fill Skill-icon"></i>Server Management</h6>
                  <h6><i class="bi bi-caret-right-fill Skill-icon"></i>Web Hosting</h6>
                  <h6><i class="bi bi-caret-right-fill Skill-icon"></i>Multiple Server Management</h6>
                  

                  <!-- <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/Rcalculator" class="Sub-Title"><i
                        class="bi bi-arrow-return-right"></i>Basic Calculator (Click Me)</a></h6> -->
                  <!-- <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/rforms"><i class="bi bi-arrow-return-right"></i> Reactive forms (Click Me)</a></h6> 
                  <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/login"><i class="bi bi-arrow-return-right"></i> Login form (Click Me)</a></h6>  -->

                  <!-- <h6><i class="bi bi-caret-right-fill Skill-icon" ></i> API</h6> 
                  <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/login"><i class="bi bi-arrow-return-right"></i> Post Method Data Insertion (Click Me)</a></h6> 
                  <h6> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a routerLink="/login"><i class="bi bi-arrow-return-right"></i> Get Method (Click Me)</a></h6> 
   -->
                  <!-- <h6><i class="bi bi-caret-right-fill Skill-icon"></i> Forms Creation</h6>  -->




                </div>

              </div>

            </div>

            

          </div><!--card col above you can -->

        </div><!--card row end -->



      </div>

    </div>

    <div class="col-lg-4  col-md-4 col-sm-12 ">

      <div class="cardDummy">
        <div class="well">
          <h3>I Build Great Websites</h3>
          <p>Being a full stack developer, I can develop any website from a database driven web app to a small static
            site. Every custom website built uses higher grade techniques and is fast, mobile friendly, scalable.</p>
        </div>

      </div>

  </div><!--Skils Row End-->



    

    <!-- <br> -->
    <!-- <br> -->
<!-- <hr> -->

    <div class="container footerEnd ">
    <div class="row">
      <div class="col-lg-3 col-sm-12 col-md-3">
        <h3><i class="bi bi-code"></i>&nbsp; Beautiful Code</h3>
        <p>I write clean, semantic, organized, and valid markup that eliminates excess code and allows others to easily
          understand and therfore update content in the future.</p>
      </div>
      <div class="col-lg-3 col-sm-12 col-md-3">
        <h3><i class="bi bi-airplane-engines-fill"></i>&nbsp; Fast</h3>
        <p>I build fast and efficient web sites. Fast websites always attract more visitors, and those visitors are more
          likely to choose you over the competition. In addition, website speed is essential for <abbr
            title="Search Engine Optimization">SEO</abbr> &mdash; <a>faster websites rank higher</a>.</p>
      </div>
      <div class="col-lg-3 col-sm-12 col-md-3">
        <h3><i class="bi bi-arrows-fullscreen"></i>&nbsp; Responsive</h3>
        <p>Responsive web design means that your website will work on any screen size, from desktops to mobile phones
          alike. Having a website that works well across all devices and screen sizes means your website has a broader
          reach, appealing to more visitors.</p>
      </div>
      <div class="col-lg-3 col-sm-12 col-md-3">
        <h3><i class="bi bi-lightning-fill"></i>&nbsp; Powerful</h3>
        <p>From a static single page website to a full fledged database driven web app, I build websites that give your
          organization the potential to succeed.</p>
      </div>
    </div><!--/.row-->
  </div><!--/.container-->






<div class="text-center navi">

  <button class="btn  text-start" routerLink="/home"> Pre </button>




  <button class="btn  text-end" routerLink="/works"> Next </button>

</div>




<!-- </div> --Container Close -->

<span class="barr text-center"></span>

<hr width="30" size="10">

<!-- <hr size="8" width="10%" color="red">   -->