/* You can add global styles to this file, and also import other style files */
// @import"~node_modules/bootstrap/dist/css/bootstrap.min.css","~node_modules/bootstrap-icons/font/bootstrap-icons.css"

// /* Importing Bootstrap SCSS file. */

// @import 'bootstrap/scss/bootstrap';

// /* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';

body{
    // background: rgb(155,155,158);
    background: linear-gradient(233deg, rgb(30, 30, 49) 0%, rgb(24, 24, 50) 12%);
    // background-color: black;
    height: 10px;
    // width: 100vh;
    color: whitesmoke;
}




