

<div class="container ">
  
    <div class="row">
        <!-- <div class="col"></div> -->


        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h5 style="text-align: center; padding: 3%; " class="titletxt">Calculator</h5>
                        <img src="/assets/giffs/1894677.gif" style="width: 350px;" alt="">
                    </div>
                    <div class="flip-card-back">
                        <div class="filp-card-back-inside">
                            <h2  >Calculator</h2>
                            <h6>Hi welcome My Friend 
                                your are now going to open rainbow 
                                Calculator To Go</h6>
                                <button class="btn" routerLink="/Rcalculator"> Proceed </button>
                                
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h5 style="text-align: center; padding: 3%;"class="titletxt">Reactive Form</h5>
                        <img src="/assets/giffs/2471303.gif" style="width:350px;" alt="">
                    </div>
                    <div class="flip-card-back">
                        <div class="filp-card-back-inside">
                            <h4>Reactive Form</h4>
                            <h6>Hi My friend 
                                its have login
                                process
                                Don't worry About Password its on page 
                            </h6>
                            <button class="btn" routerLink="/login"> Proceed To Form</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h5 style="text-align: center; padding: 3%;"class="titletxt">Template Driven-Form</h5>
                        <img src="/assets/giffs/7951219.gif" style="width: 350px;" alt="">
                    </div>
                    <div class="flip-card-back">
                        <div class="filp-card-back-inside">
                            <h2>Template Driven Form</h2>
                            <h6>Hi Friend just click to Go </h6>
                            <button class="btn" routerLink="/form"> Proceed To Form</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- <div class="col"></div> -->
    <!-- </div> -->
    
    <!-- <div class="row"> -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h5 style="text-align: center; padding: 3%;"class="titletxt">API works on Testing</h5>
                        <img src="/assets/giffs/7951219.gif" style="width: 350px;" alt="">
                    </div>
                    <div class="flip-card-back">
                        <div class="filp-card-back-inside">
                            <h2>Api Works</h2>
                    <h6>This page have some design mistake 
                        but you can check it "Use gym id 2" </h6>
                    <button class="btn " routerLink="/insertgym"> Proceed To insert</button>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12">

        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">

        </div>

    </div>
    
</div>

         




<!-- 
<h1>{{resultbox}}</h1>
<br><hr>
<button class="btn btn-success" (click)="ans()">Ans</button>

<pre></pre>
<div>
    <h1>

        {{output}}
    </h1>
</div> -->