<p>works works!</p>
<h1 >Works IT's Under developement</h1>
<pre></pre>
<pre>just practice</pre>

<div class="container ">
    <div class="row">
        <div class="col-lg-4 col-sm-12 col-md-6 cardd">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h5 style="text-align: center; padding: 3%;">Calculater</h5>
                        <img src="/assets/giffs/calculator2.webp" style="width: 200px;" alt="">
                    </div>
                    <div class="flip-card-back">
                        <div class="filp-card-back-inside">
                            <h2 >calculator</h2>
                            <h6>Hi welcome My Friend 
                                your are now going to open rainbow 
                                Calculator To Go</h6>
                                <button class="btn btn-dark" routerLink="/form"> Proceed To Form</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h5 style="text-align: center; padding: 3%;">Reactive Form</h5>
                        <!-- <img src="/assets/giffs/calculator.gif" style="width: 200px;height:200px;" alt=""> -->
                    </div>
                    <div class="flip-card-back">
                        <div class="filp-card-back-inside">
                            <h4>Reactive Form</h4>
                            <h6>Hi My friend 
                                Reactive Form
                                Don't worry About Password Am gived in log in page 
                            </h6>
                            <button class="btn btn-dark" routerLink="/login"> Proceed To Form</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4 col-sm-12 col-md-6">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h5 style="text-align: center; padding: 3%;">Template Driven-Form</h5>
                        <!-- <img src="/assets/giffs/calculator.gif" style="width: 200px;height:200px;" alt=""> -->
                    </div>
                    <div class="flip-card-back">
                        <div class="filp-card-back-inside">
                            <h2>Template Driven Form</h2>
                            <h6>Hi Friend just click to Go </h6>
                            <button class="btn btn-dark" routerLink="/form"> Proceed To Form</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</div>
         





<h1>{{resultbox}}</h1>
<br><hr>
<button class="btn btn-success" (click)="ans()">Ans</button>

<pre></pre>
<div>
    <h1>

        {{output}}
    </h1>
</div>