<a href="" style="color: yellow;" routerLink="/tips">
    <marquee style="background-color: rgba(8, 255, 255, 0.306);border: solid aqua 1px;" behavior="" direction="">Last update on 15-04-2023 about page in Eduction details with zoom effect </marquee>
</a>

<br>
<div class="container ">
  
    
    <div class="row">
        <div class="col" style="text-align: justify ;">
            
           

            <h6>Hello,it's me </h6>

            <h1 style="display: flex;"> Ashok</h1>
            
           

            <br>
            
            <!-- <div class="wrapper">

                <h4>And i'm a <b class="workText">
                  <div class="static-txt">I'm a</div>
                    <ul class="dynamic-txts">
                      <li><span>YouTuber</span></li>
                      <li><span>Designer</span></li>
                      <li><span>Developer</span></li>
                      <li><span>Freelancer</span></li>
                    </ul>
                </b> </h4>

            </div>     -->
            <div class=" container">

                
                <h3 class="flowtext" > <h3 class="amtxt">I'm a</h3> &nbsp; &nbsp;<span id="words">Angular Developer</span></h3>
                        
            </div>
          
            <br>
            <p>
                
                Strong in <b>Design</b> and <b>Innovative</b> with problem solving skills. Passionate about implementing and launching new projects. Ability to translate business requirements into technical solutions and as ability of Leadership, Teamwork. Looking to start the career as an entry-level software engineer with a reputed firm driven by technology
            </p>
<br>
            <div class="icons">
                <a href="">
                    <i class="bi bi-facebook"></i>

                </a>
                <a href="">
                    <i class="bi bi-instagram"></i>

                </a>
                <a href="">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="">
                    <i class="bi bi-github"></i>
                </a>
                <a href="">
                    <i class="bi bi-google"></i>
                </a>
            </div>
            <br>
            <button class="btn cvbtn" (click)="downloadPdf()"> Download CV </button>
        
        </div>

        <div class="col">

            <img class="portfolioPicture" src="/assets/png/noHdr.png" style="opacity: 1000%;" alt="">

            
        </div>
    </div>
    
    







    <!-- ========================== -->
    <!-- <br>
    <div class="row">
        
        <div class="col">
            
            <h4>
                Education :
            </h4>
            
            
        </div>
        
        
        <div class="col">
            
            <img src="assets/giffs/web-development-5.gif" width="250" alt="gif" style="float: right;">
            
        </div>

    </div> -->
<br>
<footer class="text-end">
    <button class=" btn cvbtn " routerLink="/about" >Next</button>

</footer>

</div>
