// --------------------------------------------------------MObile and low size---



@media only screen and (max-width:768px)
{

    .thought1{
        text-align: justify;
        }
        
        .portfolioPicture {
            width:300px;
            padding-top:30px;

            padding-left:30px;
           text-align: center;
            align-items: center;
            
            animation: Shake 10s linear infinite;
        }
          
        /*Using keyframes for shaking an image*/
        @keyframes Shake {
            0% {
                transform: rotate(2deg);
            }
          
            25% {
                transform: rotate(-2deg);
            }
          
            50% {
                transform: rotate(3deg);
            }
          
            75% {
                transform: rotate(-2deg);
            }
          
            100% {
                transform: rotate(2deg);
            }
        }
        
        
        
        .container{
            color: rgb(229, 219, 219);
        }
        .workText{
            color: aqua;
        }
        
        i{
            // margin: 5px;
            font-size: 30px;
            color: rgb(255, 255, 255);
            // border: solid 1px aqua;
            padding: 10px;
            color: aqua; 
        }
        i:hover{
            // border: 1px solid aqua;
            // padding: 10px;
            font-size: 30px;
            border-radius: 13px;
            background-color: aqua;
            transition-duration: 1s;
        //    zoom: 120%;
        color: rgb(14, 12, 31); 
        }
        
        
        .cvbtn{
        
            border-radius: 25px;
            // color: aqua;
            color: rgb(14, 12, 31); 
            background-color: aqua;
        
        }
        
        
        // ---------------------------------------------------
        
        
        
        // ======================================Auto Chenge text 
        
        // -------------------------
        // * {
        //   padding: 0;
        //   margin: 0;
          
        // }
        // .container {
        //     width: 95%;
        //     max-width: 1160px;
        //     margin: auto;
        // }
        // .animated-heading {
        //   
        //    
        //     justify-content: center;
        //     height: 100vh;
        // }
        .flowtext {
            color: aqua;
            // font-weight: 500;
            display: flex;
            
            font-family: 'IBM Plex Sans', sans-serif;
        
        }
        span#words {
            font-weight: bolder;
        }
        .amtxt{
          color: whitesmoke;
          font-family: 'IBM Plex Sans', sans-serif;
          font-weight: bolder;
        }
    
    
        h1:hover   {
            transform: translate3d(0, -10px, 22px);
            color: rgb(18, 220, 220);
            transition-duration: 0.8s;
            cursor: pointer;
            text-decoration:double ;
         }
        
}

// ---------------------------Above Mobile------------------------------------------------------------------



@media only screen and (min-width:769px)
{

 h1:hover   {
    transform: translate3d(0, -10px, 22px);
    color: rgb(18, 220, 220);
    transition-duration: 0.8s;
    cursor: pointer;
    text-decoration:double ;
 }


    .thought1{
        text-align: justify;
        }
        
        .portfolioPicture {
            width:400px;
            //   box-shadow: 0 4px 8px 0 rgba(93, 194, 238, 0.672), 0 6px 20px 0 rgba(40, 188, 229, 0.695);

            align-items: center;
            animation: Shake 10s linear infinite;
        }
          
        /*Using keyframes for shaking an image*/
        @keyframes Shake {
            0% {
                // transform: rotate(2deg);
                // position: relative;
                // padding-left: 20px;  
                // padding-bottom: 40px;
                
                
            }
          
            25% {
                transform: rotate(-2deg);
                padding-top: 20px;
                // margin-top: 40px;
            }
          
            50% {
                transform: rotate(3deg);
                padding-bottom: 20px;
                // margin-right: 40px;
            }
          
            75% {
                transform: rotate(-2deg);
            padding-right: 20px;
            // margin-bottom: 40px;

                
            }
          
            100% {
                transform: rotate(2deg);
                padding-left: 20px;
                // margin-left: 40px;
                
            }
        }
        
        
        
        .container{
            color: rgb(229, 219, 219);
        }
        .workText{
            color: aqua;
        }
        
        i{
            // margin: 5px;
            font-size: 30px;
            color: rgb(255, 255, 255);
            // border: solid 1px aqua;
            padding: 10px;
            color: aqua; 
        }
        i:hover{
            // border: 1px solid aqua;
            // padding: 10px;
            font-size: 30px;
            border-radius: 13px;
            background-color: aqua;
            transition-duration: 1s;
        //    zoom: 120%;
        color: rgb(14, 12, 31); 
        }
        
        
        .cvbtn{
        
            border-radius: 25px;
            // color: aqua;
            color: rgb(14, 12, 31); 
            background-color: aqua;
        
        }
        
        
        // ---------------------------------------------------
        
        
        
        // ======================================Auto Chenge text 
        
        // -------------------------
        // * {
        //   padding: 0;
        //   margin: 0;
          
        // }
        // .container {
        //     width: 95%;
        //     max-width: 1160px;
        //     margin: auto;
        // }
        // .animated-heading {
        //   
        //    
        //     justify-content: center;
        //     height: 100vh;
        // }

        .flowtext {
            color: aqua;
            // font-weight: 500;
            display: flex;
            
            font-family: 'IBM Plex Sans', sans-serif;
        
        }
        
        span#words {
            font-weight: bolder;
        }
        .amtxt{
          color: whitesmoke;
          font-family: 'IBM Plex Sans', sans-serif;
          font-weight: bolder;
        }

}