<br>
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-5 col-md-5 col-sm-12">
        
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Welcome</h3>
                    <p class="card-text">This is Ashok</p>
                </div>
            </div>
            
            
              
            
            
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12">
                <p class="thought1">
                    
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla, sint. Provident ad tempora iusto perferendis ea atque architecto amet non facere, consequatur possimus fugit suscipit veritatis. Commodi expedita laboriosam hic?
                    Ducimus, molestias. Repellat consequuntur qui inventore aut, doloremque minus nam nihil impedit reiciendis, facere nulla neque, accusamus a animi facilis amet ratione commodi numquam incidunt. Quam id vitae nemo facere?
                    Dolorum molestiae vero animi expedita nobis facilis doloremque, perspiciatis quaerat quia commodi alias nulla ab fuga numquam? Culpa placeat sint, harum tenetur inventore autem at deserunt itaque nulla, doloremque
                    
                </p>
            </div>
            
            
        </div>
    <div class="row">
        <div class="col-auto">

            <img src="assets/giffs/web-development-5.gif" width="250" alt="gif">
        </div>
    </div>


</div>