

<div class="container ">
  
    
    <div class="row">
        <div class="col" style="text-align: justify ;">
            
           

            <h5>
                Hello,it's Me <h1>Ashok</h1>
            </h5>

           

            <br>
            
            <!-- <div class="wrapper">

                <h4>And i'm a <b class="workText">
                  <div class="static-txt">I'm a</div>
                    <ul class="dynamic-txts">
                      <li><span>YouTuber</span></li>
                      <li><span>Designer</span></li>
                      <li><span>Developer</span></li>
                      <li><span>Freelancer</span></li>
                    </ul>
                </b> </h4>

            </div>     -->
            <div class="">

            </div>
            <h1 class="flowtext" ><span id="words">Ui / UX Design</span></h1>
                    
            <br>
            <p>
                
                Strong in <b>Design</b> and <b>Innovative</b> with problem solving skills. Passionate about implementing and launching new projects. Ability to translate business requirements into technical solutions and as ability of Leadership, Teamwork. Looking to start the career as an entry-level software engineer with a reputed firm driven by technology
            </p>
<br>
            <div class="icons">
                <a href="">
                    <i class="bi bi-facebook"></i>

                </a>
                <a href="">
                    <i class="bi bi-instagram"></i>

                </a>
                <a href="">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="">
                    <i class="bi bi-github"></i>
                </a>
                <a href="">
                    <i class="bi bi-google"></i>
                </a>
            </div>
            <br>
            <button class="btn btn-primary cvbtn"> Download CV </button>
            
        </div>

        <div class="col one text-center">

            <img src="/assets/png/noHdr.png" style="opacity: 1000%;" width="400" alt="">

            
        </div>
    </div>
    
    







    <!-- ========================== -->
    <br>
    <div class="row">
        
        <div class="col">
            
            <h4>
                Education :
            </h4>
            
            
        </div>
        
        
        <div class="col">
            
            <!-- <img src="assets/giffs/web-development-5.gif" width="250" alt="gif" style="float: right;"> -->
            
        </div>

    </div>



</div>
