



<div class="container">
    <div class="row">
        <div class="col">
            <div class="single-card">
                <div class="card-img ">

                    <h4 class="neonText" style="opacity: 70% ;">Adding scripts into Angular Component</h4>
                    
                  <img width="100%"  class="img-tag" src="/assets/giffs/tips gif/chick.gif">
                 
                </div>
                <div class="content">
                  <div class="title"></div>
                  <p>Going to the nature is going home</p>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="single-card">
                <div class="card-img ">
                    <h4 class="glow" style="opacity: 70% ;">Adding scripts into Angular Component</h4>
                  <img class="img-tag" src="https://i.pinimg.com/originals/f6/45/51/f6455156089967c9b421335e13a00d6f.jpg">
                </div>
                <div class="content">
                  <div class="title">NATURE</div>
                  <p>Going to the nature is going home</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="single-card">
                <div class="card-img ">
                  <img  class="img-tag" src="https://i.pinimg.com/originals/f6/45/51/f6455156089967c9b421335e13a00d6f.jpg">
                </div>
                <div class="content">
                  <div class="title">NATURE</div>
                  <p>Going to the nature is going home</p>
                </div>
            </div>
        </div>
    </div>
</div>
 


<div class="container">
    <h1 class="neonText">
          40% off
    </h1>
    <h2 class="neonText">Now through Aug. 1</h2> 

 </div>
 <!-- ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; -->
 
 <div class="row-outer">
    <div class="container">
      
      <div class="animated-heading">
        <h1>Hi i'm a <span id="words">Ui / UX Design</span></h1>
      </div>
      
    </div>
</div>



