<canvas id="lines"></canvas>
<br>

<div class="container">

  <div class="Allcontent">



      <div class="text-center">

       <h1> Some <span style="color:aqua;"> Tips & Tricks</span> </h1>

      </div>
      <br>

      
  





  <div class="row">
    <div class="col-lg-4 col-sm-12 col-md-6">
      <div class="card">
        <div class="card-body">

          
          <i class="bi bi-recycle"></i>
          
          <h3 class="card-title">Java script into Angular</h3>

          <p class="card-text">In Angular design related contents is very less lot in this way am added java scripts in my angular project am pasted 
            in another page if you want to leard just go and refer if not working this methord just command   
          </p>

          <button class="btn" style="font-size: larger;">Go to Source Code</button>

        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <i class="bi bi-play-fill"></i>

          <h3 class="card-title">Forms validation</h3>
          <p class="card-text">In Angular design related contents is very less lot in this way am added java scripts in my angular project am pasted 
            in another page if you want to leard just go and refer if not working this methord just command  </p>
          <button class="btn" style="font-size: larger;">Go to Source Code</button>

        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <i class="bi bi-puzzle"></i>
          <h3 class="card-title">Still on process</h3>
          <p class="card-text">In Angular design related contents is very less lot in this way am added java scripts in my angular project am pasted 
            in another page if you want to leard just go and refer if not working this methord just command  </p>
          <button class="btn" style="font-size: larger;">Go to Source Code</button>
        </div>
      </div>
    </div>
  </div>




</div>
</div>